<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Arthur C. Clarke</h1>
    <p>También son conocidas sus famosas leyes de Clarke, publicadas en su libro de divulgación científica Perfiles del futuro (1962). La más popular (y citada) de ellas es la llamada «Tercera Ley de Clarke»: Toda tecnología lo suficientemente avanzada es indistinguible de la magia.</p>
    <img src="./img/Clarke_cropped.jpg" alt="Arthur C. Clarke">
</body>
</html>