<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🧞‍♂️GENIUS🧞‍♂️</title>
    <link rel="stylesheet" href="CSS/fondo.css">
</head>

<body>
    <center><h1>¡Bienvenido a la pagina de los HEROES!</h1></center>
    <center><h2>¡👇 Pegales una chequeada a estos genios de la vida👇 !</h2></center>
    <ul>
        <center>
            <ul>🖩<a href="/babbage">Babbage</a>🖩</ul>
        <ul>🌐<a href="/berners-lee">Berners Lee</a>🌐</ul>
    <ul>🔭✍️<a href="/clarke">Clarke</a>✍️🔭</ul>
    <ul>🛠<a href="/hamilton">Hamilton</a>🛠</ul>
    <ul>🎖️<a href="/hopper">Hopper</a>🎖️</ul>
    <ul>🧮✍️<a href="/lovelance">lovelance</a>✍️🧮</ul>
    <ul>🖥️<a href="/turing">Turing</a>🖥️</ul>
       </center>
    </ul>
</body>
</html>